enum-tools[sphinx]
sphinx<9  # https://github.com/domdfcoding/enum_tools/issues/118
sphinx-rtd-theme
sphinx-scrapy @ git+https://github.com/scrapy/sphinx-scrapy.git@60817316665e620196721b82f2c40b15a450abcd
